<template>
 <section class="main-wrap">
	 <div class="container">
      <div class="heading-row">
    	<h2 class="page-heading">Media mentions</h2>
      </div>
     <!-- <taskLists></taskLists> -->
		
	<!-- TABLE ACTION ROW -->
			<ag-grid-vue style="width: 100%; height: 60vh;"
			class="ag-theme-material"
			:gridOptions="gridOptions"
			:columnDefs="columnDefs"
			:rowData="rowData"				
			rowSelection="multiple"
			:enableRangeSelection="true"
			:suppressCopyRowsToClipboard="true"
			colResizeDefault="shift"
			:suppressDragLeaveHidesColumns="true"
			:animateRows="false"
			:floatingFilter="true"
			:suppressCsvExport = true
			>		
		</ag-grid-vue>

		<button @click="gridApi.exportDataAsCsv()"> Download </button>
	 </div>
	 </section>
</template>
<script>

import { AgGridVue } from "ag-grid-vue";

export default {
	name: 'ViewData',
		components: {
		 AgGridVue
	},
	data(){
		return {
				gridOptions: null,
				gridApi: null,			
				columnDefs: null,
				rowData: null	
			}
	},

	beforeMount() {
		this.gridOptions = {};
		this.columnDefs = [
				{
					headerName: 'URL',
					field: 'keyword.url',
					minWidth: 315,
					filter: "agTextColumnFilter",
					cellClass: "cell-wrap-text",
				},
				{
					headerName: 'Article url',
					field: 'article_url',
					minWidth: 275,
					filter: "agTextColumnFilter",
					cellClass: "cell-wrap-text",
				},
				{
					headerName: 'Article title',
					field: 'article_title',
					minWidth: 115,
					filter: "agTextColumnFilter",
					cellClass: "cell-wrap-text",
				},
				{
					headerName: 'Created at',
					field: 'created_at',
					minWidth: 115,
					filter: "agTextColumnFilter",
					cellClass: "cell-wrap-text",
				}				
				];

		
	},
	mounted() {
		this.gridApi = this.gridOptions.api;
        fetch('http://172.16.153.125:8000/api/mentions')
		//.then(result => console.log(result))
		.then(result => result.json())
        .then(rowData => this.rowData = rowData);
		
		}
}
</script>


