<template>
    <div>
        <nav class="navbar">
            <div >
                <router-link to="/" class="navbar__logo">
                  <svg viewBox="0 0 31 31"><g fill="#FFFFFF" fill-rule="nonzero"><path d="M0 3h8.696L20 14.55 9.064 29h-7.96l10.81-14.256zM22.162 13L32 3h-8.668L18 8.619zM18 22.323L23.004 29H31l-9.01-12z"></path></g></svg>
                </router-link>
            </div>
            <div class="navbar__menu">
                <ul class="navbar__menu__links">
                    <li>
                        <router-link to="/"  class="links">
                           <svg viewBox="0 0 25 25" class="navbar__icon"><path fill="#4DA1FF" fill-rule="evenodd" stroke="#4DA1FF" d="M2.327 11.475H4.41v12.21c0 .189.13.315.326.315h15.528c.195 0 .326-.126.326-.316v-12.21h2.083c.13 0 .26-.062.293-.189.065-.126.033-.252-.065-.347l-10.19-9.843a.322.322 0 0 0-.455 0L2.099 10.938c-.098.095-.13.221-.065.347.032.127.163.19.293.19zm10.157-9.718l9.375 9.087h-1.595c-.195 0-.325.126-.325.315v12.21H5.029v-12.21c0-.19-.13-.315-.326-.315H3.108l9.376-9.087z" class="navbar__icon-fill-stroke"></path></svg>
                        </router-link>
                        <router-link to="/" class="navbar__title">Home</router-link>
                    </li>
                    <li>
                         <router-link to="view-data" class="links">
                           <svg viewBox="0 0 25 25" class="navbar__icon"><path fill="#4DA1FF" fill-rule="nonzero" stroke="#4DA1FF" d="M8.336 4.577c0-.319.212-.577.475-.577h14.317c.263 0 .475.256.475.577 0 .319-.211.577-.475.577H8.811c-.262 0-.475-.256-.475-.577zM1 4.577C1 4.258 1.209 4 1.475 4h.933c.263 0 .476.256.476.577 0 .319-.21.577-.476.577h-.933c-.262 0-.475-.256-.475-.577zM8.336 13c0-.319.212-.577.475-.577h14.317c.263 0 .475.256.475.577 0 .319-.211.577-.475.577H8.811c-.262 0-.475-.256-.475-.577zM1 13c0-.319.209-.577.475-.577h.933c.263 0 .476.256.476.577 0 .319-.21.577-.476.577h-.933C1.213 13.577 1 13.32 1 13zm7.336 8.423c0-.319.212-.577.475-.577h14.317c.263 0 .475.256.475.577 0 .319-.211.577-.475.577H8.811c-.262 0-.475-.256-.475-.577zm-7.336 0c0-.319.209-.577.475-.577h.933c.263 0 .476.256.476.577 0 .319-.21.577-.476.577h-.933C1.213 22 1 21.744 1 21.423z" class="navbar__icon-fill-stroke"></path></svg>
                        </router-link>
                        <router-link to="/view-data" class="navbar__title">View Tasks</router-link>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>
<script>
export default {
    name: 'SideNavbar',
}
</script>
