<template>
    <div class="entry-table">
        <div>
            <h2>taskLists 123</h2>
           <ul>
               <!-- <li v-for="article in articles" v-text="article.tldName"></li>
               <li v-for="article in articles" v-text="article.mentions"></li> -->
               <li v-for="name in names" v-text="name"></li>
           </ul>
        </div>
    </div>
</template>
<script>
export default {
    name:'taskLists',
    data:{
        // articles: [{
        //         tldName: 'Learn JavaScript',
        //         mentions:'.online',
               
                
        //     }, {
        //         tldName: 'Learn Vue',
        //         mentions:'.tech',
                
        //     }, {
        //         tldName: 'Build something awesome',
        //         mentions:'.store',
        //     },

        // ],
        names: ['joe' , 'Harsh' , 'alert' ],
    }
}
</script>

