<template>
  <div id="app">
    <div class="top-space"></div>    
    <SideNavbar></SideNavbar>
    <router-view></router-view>
    <footer class="footer">© {{ currentYear }} Radix FZC. All Rights Reserved</footer>
  </div>
</template>

<script>
import SideNavbar from './components/SideNavbar.vue'

export default {
  name: 'app',
  components: { 
   SideNavbar,

  },
  data() {
    return {
     currentYear: new Date().getFullYear(),
    }    
  }
}
</script>

<style lang="scss">
  @import "@/assets/sass/style.scss";

  @import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
  @import "../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";

</style>
