.footer {
    padding: 1.5rem 1.5rem 1.5rem 8.75rem;
    border-top: 1px solid #e7e9ea;
    background: #fff;
    color: #666;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}