@import "variables";
.navbar {
    border-right: 1px solid $border-grey;
    background: $color-white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    padding: 0.625rem;
    transition: transform $transition-time $transition-ease;
    .navbar__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.375rem;
        width: 4.625rem;
        padding: 1.25rem;
        margin: 0 auto;
        border-radius: $border-radius-6;
        background-color: $color-blue;
        transition: background-color $transition-time $transition-ease;
        &:hover {
            background-color: $color-dark-blue;
        }
        svg {
            width: 100%;
        }
    }
    .navbar__menu {
        margin-top: 5.75rem;
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        li {
            position: relative;
            align-items: center;
            display: flex;
            color: #fff;
            .links {
                color: #fff;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: calc(4.625rem - 1px);
                height: calc(4.625rem - 1px);
                border: 1px solid transparent;
                border-radius: 6px;
                -webkit-transition: border-color .15s ease-in-out;
                transition: border-color .15s ease-in-out;
                &.router-link-exact-active:before {
                    content: '';
                    display: block;
                    position: absolute;
                    border-radius: 0 $border-radius-6 $border-radius-6 0;
                    background-color: $color-blue;
                    height: 2.75rem;
                    width: 0.625rem;
                    top: 50%;
                    left: -0.625rem;
                    transform: translateY(-50%);
                    box-shadow: 0px 8px 18px 0 #A8D1FF;
                }
                &:hover {
                    +.navbar__title {
                        transform: translate3d(100%, -50%, 0);
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                    }
                }
            }
            .navbar__title {
                padding: 0.9375rem;
                justify-content: center;
                font-size: 0.8125rem;
                font-weight: 300;
                color: #fff !important;
                background-color: $color-grey;
                border-radius: $border-radius-6;
                position: absolute;
                top: 50%;
                right: -1.5rem;
                transform: translate3d(calc(100% - 10px), -50%, 0);
                // Hide by default
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: all $transition-time $transition-ease;
                z-index: 1010;
                box-shadow: 0 8px 21px 0 rgba(0, 0, 0, 0.4);
                width: 150px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                color: inherit!important;
                text-decoration: none!important;
                &::after {
                    content: '';
                    position: absolute;
                    left: .1rem;
                    top: 50%;
                    transform: translate3d(-100%, -50%, 0);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 1rem 1rem 1rem 0;
                    border-color: transparent $color-grey transparent transparent;
                }
            }
            .navbar__icon {
                width: 1.5625rem;
                height: 1.5625rem;
            }
        }
    }
}