@import "variables";
.filepond--root {
    color: #4da1ff;
    font-size: 1.4rem!important;
    font-family: inherit!important;
    font-weight: 400!important;
    margin-bottom: 0!important;
    background-color: rgba(244, 247, 249, .4)!important;
    border: 1px dashed #4da1ff!important;
    overflow: hidden;
    border-radius: 4px!important;
}

.filepond--drop-label label,
.filepond--file-info-main {
    font-size: 14px!important;
    font-weight: 400!important;
}

.filepond--drop-label label {
    color: #4da1ff!important;
}

.filepond--panel-root {
    background-color: transparent!important;
}

.upload-file {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .03);
    padding: 3rem 3rem 3.5rem;
    border-color: #fff;
    min-height: 400px;
    flex-direction: column;
    justify-content: center;
}

#uploadForm {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 65px;
    display: flex;
}

#file {
    opacity: 0;
    height: 100%;
    width: 80%;
}

.custom-file-label {
    height: 100%;
    width: 80%;
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    top: 0;
    border: 1px dashed #4da1ff;
    color: #4da1ff;
    background-color: rgba(244, 247, 249, .4);
    border-radius: 4px 0 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-btn {
    width: 20%;
    background-color: #3392ff;
    border-color: #3392ff;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.validation-message {
    color: red;
    display: flex;
    font-size: 14px;
    text-align: left;
    margin: 10px auto 0;
    width: 1000px;
    height: 30px;
}