$color-white: #FFFFFF;
$color-blue: #4DA1FF;
$color-dark-blue: #3392FF;
$color-grey: #233539;
$color-light-grey: #F4F6F9;
$border-radius: 6px;
$border-radius-2: 2px;
$border-radius-4: 4px;
$border-radius-5: 5px;
$border-radius-6: 6px;
$border-grey: #E7E9EA;
$font-color-body: #778A9E;
$font-color-dark: #233539;
$font-color-light: #9BB9C5;
$font-color-very-light: #B9C2CA;
$transition-time: .15s;
$transition-ease: ease-in-out;