@charset "utf-8";
@import "variables";

/*====limited reset====*/

*,
 :after,
 :before {
    box-sizing: border-box;
}

html,
body,
div,
section,
article,
aside,
header,
hgroup,
footer,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
time,
span,
em,
strong,
img,
ol,
ul,
li,
figure,
canvas,
video {
    margin: 0;
    padding: 0;
    border: 0;
}


/*====html5 display rule====*/

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
nav,
section,
summary {
    display: block;
}


/*====common css====*/

html {
    font-size: 16px;
}

html,
body {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: inherit;
    font-weight: normal;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

body {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0px;
    color: $font-color-body;
    background: $color-light-grey;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow-x: hidden;
}

strong,
b {
    font-weight: 500;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading-row {
    padding-bottom: 45px;
}

.page-heading {
    font-size: 2.375rem;
    line-height: 46px;
    font-weight: 400;
    color: #233539;
    margin-bottom: 0;
}

.common-btn {
    background-color: #3392ff;
    border-color: #3392ff;
    color: #fff;
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.5;
    font-size: 1.4rem;
    border-radius: 4px;
    padding: 1rem 2rem;
    outline: none!important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-space {
    padding: 20px;
    border-bottom: 1px solid #e7e9ea;
    background: #fff;
    z-index: 500;
    height: 90px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.main-wrap {
    padding: 50px 0;
}

#app {
    padding: 5.625rem 2.8125rem 10rem 8.75rem;
    position: relative;
    min-height: 100vh;
}

@import "uploadFiles";

/*====side-navbar css====*/

@import "side-navbar";

/*====side-navbar css====*/


/*====footer css====*/

@import "footer";

/*====footer css====*/